<body>
  <h1>About Me</h1>
  <p>My name is Anirudh Prabhakaran. I am a first year in NITK and my interests include</p>
  <ol>
    <li>Coding</li>
    <li>Reading novels</li>
    <li>Playing the keyboard</li>
    <li>Singing</li>
  </ol>
</body>
